@import url('https://fonts.googleapis.com/css?family=Montserrat'); /* import font */

html * {
    font-family: Montserrat, helvetica, arial, sans-serif;
  }

body {
    background-color: #f5fcff;
}

.caseheader {
    font-weight: bold;
}

/* CSS */
.card-img-top:hover {
    opacity: 0.7; /* Reduce opacity to 70% on hover (adjust as needed) */
    background-color: #f0f0f0; /* Change background color on hover (adjust as needed) */
}


/* Media Query Rules */

@media (max-width: 576px) {

  }

@media (max-width: 480x) {

}

@media (max-width: 1101px) {

}