@import url('https://fonts.googleapis.com/css?family=Montserrat'); /* import font */

html * {
    font-family: Montserrat, helvetica, arial, sans-serif;
  }

body {
    background-color: #f5fcff;
}

.caseheader {
    font-weight: bold;
}

/* Media Query Rules */

@media (max-width: 576px) {

  }

@media (max-width: 480x) {

}

@media (max-width: 1101px) {

}